<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lhj.WEManager.mapper.WaterElectRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.lhj.WEManager.po.WaterElectRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="house_id" property="houseId" jdbcType="VARCHAR" />
    <result column="cost_status" property="costStatus" jdbcType="INTEGER" />
    <result column="cost_time" property="costTime" jdbcType="TIMESTAMP" />
    <result column="record_time" property="recordTime" jdbcType="DATE" />
    <result column="last_elect_num" property="lastElectNum" jdbcType="DOUBLE" />
    <result column="this_elect_num" property="thisElectNum" jdbcType="DOUBLE" />
    <result column="elect_num" property="electNum" jdbcType="DOUBLE" />
    <result column="elect_cost" property="electCost" jdbcType="DOUBLE" />
    <result column="last_water_num" property="lastWaterNum" jdbcType="DOUBLE" />
    <result column="this_water_num" property="thisWaterNum" jdbcType="DOUBLE" />
    <result column="water_num" property="waterNum" jdbcType="DOUBLE" />
    <result column="water_cost" property="waterCost" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, house_id, cost_status, cost_time, record_time, last_elect_num, this_elect_num, 
    elect_num, elect_cost, last_water_num, this_water_num, water_num, water_cost
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.lhj.WEManager.po.WaterElectRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from water_elect_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from water_elect_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from water_elect_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.lhj.WEManager.po.WaterElectRecordExample" >
    delete from water_elect_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.lhj.WEManager.po.WaterElectRecord" >
    insert into water_elect_record (id, house_id, cost_status, 
      cost_time, record_time, last_elect_num, 
      this_elect_num, elect_num, elect_cost, 
      last_water_num, this_water_num, water_num, 
      water_cost)
    values (#{id,jdbcType=INTEGER}, #{houseId,jdbcType=VARCHAR}, #{costStatus,jdbcType=INTEGER}, 
      #{costTime,jdbcType=TIMESTAMP}, #{recordTime,jdbcType=DATE}, #{lastElectNum,jdbcType=DOUBLE}, 
      #{thisElectNum,jdbcType=DOUBLE}, #{electNum,jdbcType=DOUBLE}, #{electCost,jdbcType=DOUBLE}, 
      #{lastWaterNum,jdbcType=DOUBLE}, #{thisWaterNum,jdbcType=DOUBLE}, #{waterNum,jdbcType=DOUBLE}, 
      #{waterCost,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cn.lhj.WEManager.po.WaterElectRecord" >
    insert into water_elect_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="costStatus != null" >
        cost_status,
      </if>
      <if test="costTime != null" >
        cost_time,
      </if>
      <if test="recordTime != null" >
        record_time,
      </if>
      <if test="lastElectNum != null" >
        last_elect_num,
      </if>
      <if test="thisElectNum != null" >
        this_elect_num,
      </if>
      <if test="electNum != null" >
        elect_num,
      </if>
      <if test="electCost != null" >
        elect_cost,
      </if>
      <if test="lastWaterNum != null" >
        last_water_num,
      </if>
      <if test="thisWaterNum != null" >
        this_water_num,
      </if>
      <if test="waterNum != null" >
        water_num,
      </if>
      <if test="waterCost != null" >
        water_cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="costStatus != null" >
        #{costStatus,jdbcType=INTEGER},
      </if>
      <if test="costTime != null" >
        #{costTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordTime != null" >
        #{recordTime,jdbcType=DATE},
      </if>
      <if test="lastElectNum != null" >
        #{lastElectNum,jdbcType=DOUBLE},
      </if>
      <if test="thisElectNum != null" >
        #{thisElectNum,jdbcType=DOUBLE},
      </if>
      <if test="electNum != null" >
        #{electNum,jdbcType=DOUBLE},
      </if>
      <if test="electCost != null" >
        #{electCost,jdbcType=DOUBLE},
      </if>
      <if test="lastWaterNum != null" >
        #{lastWaterNum,jdbcType=DOUBLE},
      </if>
      <if test="thisWaterNum != null" >
        #{thisWaterNum,jdbcType=DOUBLE},
      </if>
      <if test="waterNum != null" >
        #{waterNum,jdbcType=DOUBLE},
      </if>
      <if test="waterCost != null" >
        #{waterCost,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.lhj.WEManager.po.WaterElectRecordExample" resultType="java.lang.Integer" >
    select count(*) from water_elect_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update water_elect_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.houseId != null" >
        house_id = #{record.houseId,jdbcType=VARCHAR},
      </if>
      <if test="record.costStatus != null" >
        cost_status = #{record.costStatus,jdbcType=INTEGER},
      </if>
      <if test="record.costTime != null" >
        cost_time = #{record.costTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.recordTime != null" >
        record_time = #{record.recordTime,jdbcType=DATE},
      </if>
      <if test="record.lastElectNum != null" >
        last_elect_num = #{record.lastElectNum,jdbcType=DOUBLE},
      </if>
      <if test="record.thisElectNum != null" >
        this_elect_num = #{record.thisElectNum,jdbcType=DOUBLE},
      </if>
      <if test="record.electNum != null" >
        elect_num = #{record.electNum,jdbcType=DOUBLE},
      </if>
      <if test="record.electCost != null" >
        elect_cost = #{record.electCost,jdbcType=DOUBLE},
      </if>
      <if test="record.lastWaterNum != null" >
        last_water_num = #{record.lastWaterNum,jdbcType=DOUBLE},
      </if>
      <if test="record.thisWaterNum != null" >
        this_water_num = #{record.thisWaterNum,jdbcType=DOUBLE},
      </if>
      <if test="record.waterNum != null" >
        water_num = #{record.waterNum,jdbcType=DOUBLE},
      </if>
      <if test="record.waterCost != null" >
        water_cost = #{record.waterCost,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update water_elect_record
    set id = #{record.id,jdbcType=INTEGER},
      house_id = #{record.houseId,jdbcType=VARCHAR},
      cost_status = #{record.costStatus,jdbcType=INTEGER},
      cost_time = #{record.costTime,jdbcType=TIMESTAMP},
      record_time = #{record.recordTime,jdbcType=DATE},
      last_elect_num = #{record.lastElectNum,jdbcType=DOUBLE},
      this_elect_num = #{record.thisElectNum,jdbcType=DOUBLE},
      elect_num = #{record.electNum,jdbcType=DOUBLE},
      elect_cost = #{record.electCost,jdbcType=DOUBLE},
      last_water_num = #{record.lastWaterNum,jdbcType=DOUBLE},
      this_water_num = #{record.thisWaterNum,jdbcType=DOUBLE},
      water_num = #{record.waterNum,jdbcType=DOUBLE},
      water_cost = #{record.waterCost,jdbcType=DOUBLE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.lhj.WEManager.po.WaterElectRecord" >
    update water_elect_record
    <set >
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=VARCHAR},
      </if>
      <if test="costStatus != null" >
        cost_status = #{costStatus,jdbcType=INTEGER},
      </if>
      <if test="costTime != null" >
        cost_time = #{costTime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordTime != null" >
        record_time = #{recordTime,jdbcType=DATE},
      </if>
      <if test="lastElectNum != null" >
        last_elect_num = #{lastElectNum,jdbcType=DOUBLE},
      </if>
      <if test="thisElectNum != null" >
        this_elect_num = #{thisElectNum,jdbcType=DOUBLE},
      </if>
      <if test="electNum != null" >
        elect_num = #{electNum,jdbcType=DOUBLE},
      </if>
      <if test="electCost != null" >
        elect_cost = #{electCost,jdbcType=DOUBLE},
      </if>
      <if test="lastWaterNum != null" >
        last_water_num = #{lastWaterNum,jdbcType=DOUBLE},
      </if>
      <if test="thisWaterNum != null" >
        this_water_num = #{thisWaterNum,jdbcType=DOUBLE},
      </if>
      <if test="waterNum != null" >
        water_num = #{waterNum,jdbcType=DOUBLE},
      </if>
      <if test="waterCost != null" >
        water_cost = #{waterCost,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.lhj.WEManager.po.WaterElectRecord" >
    update water_elect_record
    set house_id = #{houseId,jdbcType=VARCHAR},
      cost_status = #{costStatus,jdbcType=INTEGER},
      cost_time = #{costTime,jdbcType=TIMESTAMP},
      record_time = #{recordTime,jdbcType=DATE},
      last_elect_num = #{lastElectNum,jdbcType=DOUBLE},
      this_elect_num = #{thisElectNum,jdbcType=DOUBLE},
      elect_num = #{electNum,jdbcType=DOUBLE},
      elect_cost = #{electCost,jdbcType=DOUBLE},
      last_water_num = #{lastWaterNum,jdbcType=DOUBLE},
      this_water_num = #{thisWaterNum,jdbcType=DOUBLE},
      water_num = #{waterNum,jdbcType=DOUBLE},
      water_cost = #{waterCost,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>